<main>
    <form action="/cats/delete-cat/{{theCat.id}}" method="POST" class="delete-form" enctype="multipart/form-data">
        <ul>        
            <img src="/images/{{theCat.image}}" alt="{{theCat.name}}">
            <h3 style="text-align: center;">{{theCat.name}}</h3>
            <p><span>Breed: </span>{{theCat.breed}}</p>
            <p><span>Description: </span>{{theCat.description}}</p>
            <div>
            <button style="margin-left: 200px;" class="delete" type="submit">Find A New Home</button>
            </div>
        </ul>
    </form>
</main>






